.Back_1{
    padding: 0;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.bx_back{
    box-sizing: border-box;
    border-radius: 32px 20px 100px 0px;
    width: 800px;
    height: 300px;
    justify-content: center;
    position: relative;
    display: flex;
    background: linear-gradient(90deg, rgb(0,0,0,1)2%, rgb(255, 255, 255)50%, rgb(0,0,0,1)100% );
}
.bx_1{
    box-sizing: border-box;
    border-radius: 32px 20px 100px 0px;
    width: 770px;
    height: 280px;
    top: 7px;
    justify-content: center;
    position: relative;
    display: flex;
    background-color: gray;
    font-size: 50px;
    text-align: center;
    align-items: center;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
}