header{
    width: 99.8%;
    box-sizing: border-box;
}

.Back {
    position: relative;
    width: 99.9%;
    height: 250px;
    z-index: 1;
}


.Perfil {
    z-index: 3;
    border-radius: 100px;
    width: 90%;
    height: 90%;
    left: 20px;
    display: flex;
    animation: Gira 4.1s ease-in-out infinite
}
.shadow-perfil{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    background-color: aliceblue;
    border-radius: 100px;
    width: 19%;
    top: 100px; 
    left: 80px;
    filter: drop-shadow(0 0 2em #61dafbaa);
    z-index: 2;
    justify-content: center;
    align-items: center;
    animation: Gira 4.0s ease-in-out infinite
}

@keyframes Gira {
    0%, 100%{
        transform: translateY(0px);
    }

  50%{
    transform: translateY(-10x);
    }

}
