header{
    width: 99.8%;
    box-sizing: border-box;
}

.Back {
    position: relative;
    width: 99.20%;
    height: 300px;
    z-index: 1;
}


.Perfil {
    z-index: 3;
    border-radius: 100px;
    position: absolute;
    width: 100px;
    top: 180px;
    left: 40px;
    display: flex;
    animation: Gira 5s infinite
}

.profile{
    padding: 20%;
}


button{
    box-sizing: border-box;
    font-family: arial black;
    position: absolute;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: aliceblue;
    border-radius: 100px  100px  100px 0px;
    width: 70%;
    height: 150px;
    top: 70px; 
    left: 90px;
    filter: drop-shadow(0 0 2em #61dafbaa);
    z-index: 2;
    justify-content: center;
    align-items: center;
    animation: Gira 5s infinite;
    animation: Abrir 2s ;

}

@keyframes Gira {
    0%, 100%{
        transform: translateY(0px);
    }

  50%{
    transform: translateY(-5px);
    }

}

@keyframes Abrir {

    0%{
        opacity: 0;
        width: 35%;
    }

    100%{
    opacity: 1;
     width: 70%;
    }

}