header{
    width: 99.8%;
    box-sizing: border-box;
}

.Back {
    position: relative;
    width: 99.20%;
    height: 300px;
    z-index: 1;
}


.Perfil {
    z-index: 3;
    border-radius: 100px;
    width: 150px;
    height: 90%;
    left: 70px;
    display: flex;
    animation: Gira 5s infinite
}

.profile{
    padding: 20%;
}


button{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: aliceblue;
    border-radius: 100px;
    width: 70%;
    height: 150px;
    top: 100px; 
    left: 80px;
    filter: drop-shadow(0 0 2em #61dafbaa);
    z-index: 2;
    justify-content: center;
    align-items: center;
    animation: Gira 5s infinite;
    animation: Abrir 2s ;
    
  /* espaço entre um elemento interno e outro */
}

@keyframes Gira {
    0%, 100%{
        transform: translateY(0px);
    }

  50%{
    transform: translateY(-5px);
    }

}

@keyframes Abrir {

    0%{
        width: 35%;
    }

    100%{
     width: 70%;
    }

}