.App{
    box-sizing: border-box;
    padding: 40px;
}

.My_name{
    box-sizing: border-box;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    position: relative; 
    left: 36%;
    color: white;
    font-size: 190%;
    display: flex ;
    top: -20px;
    filter: drop-shadow(0 0 1em blue);
}

.icon_face svg{
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    position: grid;
    color: black;
    background-color: rgb(59, 2, 112);
    border-radius: 20px;
    width: 99%;
    height: 250px;
}
.shadow{
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    width: 100%;
}
