.App{
    box-sizing: border-box;
    padding: 50px;
}

.My_name{
    box-sizing: border-box;
    width: 47%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 40%; 
    color: white;
    font-size: 150%;
    display: flex ;
    top: -20px;
    text-align: center;
    filter: drop-shadow(0 0 1em blue);
}


.icon_face svg{
    box-sizing: border-box;
    margin: 8px;
    position: grid;
    color: black;
    background-color: rgb(59, 2, 112);
    border-radius: 20px;
    width: 92%;
    height: 92%;
}
.shadow{
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    width: 60%;
}
