.espaço{
    position: relative;
    display: inline-flex;
    color: white;
    box-sizing: border-box;
    bottom: -100px;
    margin: 0px;
    border-radius: 25%;
    justify-content: Center;
    width: 90%;
}