.Title {
    padding-top: 100px;
    font-family: arial black;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Botão2{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Botão3{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Botão4{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Botão5{
    padding: 30px;display: flex;
    justify-content: center;
    align-items: center;
}

.Botão6{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



