.costas{
    margin: 2px;
    position: relative;
    padding: 0;
}

.botão{
    position: absolute;
    text-overflow: ellipsis;
    font-size: 30px;
    width: 25%;
    height: 100px;
    background:  rgb(51, 12, 112);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    filter: drop-shadow(0 0 1em white);
    
   
}
.b_1 {
    left: 5%;
    text-decoration: none;
    color: black;
}

.b_2{
    text-decoration: none;
    color: black;
    left: 37%;
}
.b_3{
    left: 69%;
    text-decoration: none;
    color: black;
}

.botão:hover{
    background-color: black;
    color: white;

}