.Background{
    min-height: 750px;
    min-width: 750px;
    padding: 20px;
}

.perf-1{
    display: flex;
    justify-content: center;
}

.Eu-2{
    position: grid;
    box-sizing: border-box;
    border-radius: 500px ;
    height: 300px;
    width: 300px;
}
.Content-1{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.Container-1{
    box-sizing: border-box;
    position: relative;
    border-radius: 25px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 400px;
    height: 150;
    background-color: #000 ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    cursor: pointer;
    flex-wrap: nowrap;
}

.Container-1:hover{
    background-color: white;
    transition: 0.9s;
    color: black;
    
}