.Background{
    min-height: 100%;
    min-width: 100%;
    /* padding: 20px; */
}


.perf-1{
    display: flex;
    justify-content: center;
}

.Eu-2{
    position: grid;
    box-sizing: border-box;
    border-radius: 500px ;
    width: 45%;
    display: flex;
    flex-wrap: nowrap;

}

H1{
    position: relative;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}



.Content-1{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.Container-1{
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 30px;
    font-family: Impact,  'Arial Narrow Bold', sans-serif;
    width: 85%;
    height: 150px;
    background-color: #000 ;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Container-1:hover{
    background-color: white;
    transition: 0.9s;
    color: black;
    
}

.Content-2{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.Container-2{
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 85%;
    height: 150px;
    background-color: #000 ;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Container-2:hover{
    background-color: white;
    transition: 0.9s;
    color: black;
    
}
.Content-3{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.Container-3{
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 85%;
    height: 150px;
    background-color: #000 ;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Container-3:hover{
    background-color: white;
    transition: 0.9s;
    color: black;
    
}

.Content-4{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.Container-4{
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 85%;
    height: 150px;
    background-color: #000 ;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Container-4:hover{
    background-color: white;
    transition: 0.9s;
    color: black;
    
}

